<div class="main-container">
    <div id="title-container">
        <h1 style="color: #4285f4;">G</h1>
        <h1 style="color: #ea4335;">o</h1>
        <h1 style="color: #fbbc05;">o</h1>
        <h1 style="color: #4285f4;">g</h1>
        <h1 style="color: #34a853;">l</h1>
        <h1 style="color: #ea4335;">e</h1>
    </div>
    <h2>Formulario de aplicación nuevos integrantes</h2>
    <app-personal-form />
    <app-health-form />
    <app-education-form />
    <app-work-form />
    <app-communication-form />

    <div class="nav-buttons">
        <button>Anterior</button>
        <button>Siguiente</button>
    </div>

    <!-- (click)="onSubmit()" -->
    <div class="submit-container">
        <button id="submit" type="submit">Enviar !</button>
    </div>
</div>
<router-outlet></router-outlet>
