<div class="main-container">
    <div id="title-container">
        <h1 style="color: #4285f4;">G</h1>
        <h1 style="color: #ea4335;">o</h1>
        <h1 style="color: #fbbc05;">o</h1>
        <h1 style="color: #4285f4;">g</h1>
        <h1 style="color: #34a853;">l</h1>
        <h1 style="color: #ea4335;">e</h1>
    </div>
    <h2>Formulario de aplicación nuevos integrantes</h2>

    <router-outlet class="outlet"></router-outlet>

    <div class="nav-buttons">
        <button [disabled]="currentFormIndex === 0" (click)="onPrevious()">Anterior</button>
        <button (click)="onNext()" [hidden]="currentFormIndex === 4">Siguiente</button>
        <button id="submit" type="submit" (click)="onSubmit()" [hidden]="currentFormIndex != 4">Enviar !</button>
    </div>
</div>
<div class="history-buttons">
    <button (click)="addApplicant()" [hidden]="currentFormIndex != 0">Añadir</button>
    <button (click)="onClickClearHistory()" [hidden]="currentFormIndex != 0">Borrar</button>
    <button (click)="goToHistory()" [hidden]="currentFormIndex != 0">Historial</button>
</div>
