body {
    background-color: #c8c8f4;
 }

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
}

.caja1{
   width: 500px;
   height: 800px;
   background-color: #f5f5f5;
   color: #ffffff;

   line-height: 2px;
   border-radius: 10px;
  margin-top: 620px;
}