<body>
    <div class="container">
  
            <div class="caja1">
      <h3 style="color: black;" >Metodos de comunicacion:</h3>
              <h4 style="color: deepskyblue;">Canales de comunicacion preferidos:</h4>
              <div>
                <input type="radio" name="canales"  />
                <label style="color: black;" >Correo</label>
              </div>
  
              <div>
                <input type="radio" name="canales"/>
                <label style="color: black;" >Telefono</label>
              </div>
  
              <div>
                <input style="color: black;" type="radio" name="canales"  />
                <label style="color: black;" >Otro</label>
              </div>
               <br>
              <input type="text" placeholder="Inserte otro" size="68" />
              <h4 style="color: deepskyblue;">Frecuencia de contacto:</h4>
              <select  name="frecuencia">
              <option value="AF">nula</option>
              <option value="AL">casi nula</option>
                <option value="AF">casi presente</option>
                <option value="AF">presente</option>
              </select>
              <h4 style="color: deepskyblue;">Idiomas que domina:</h4>
              <div>
                <input type="radio" name="canales"  />
                <label style="color: black;" >Español</label>
              </div>
  
              <div>
                <input type="radio" name="canales"/>
                <label style="color: black;" >Ingles</label>
              </div>
  
              <div>
                <input style="color: black;" type="radio" name="canales"  />
                <label style="color: black;" >........</label>
              </div>
              <h4 style="color: deepskyblue;">Horario de contacto:</h4>
              <input type="text" placeholder="Ingrese el horario de disponibilidad del contacto" size="68" />
              <h4 style="color: deepskyblue;">Preferencias de notificacion:</h4>
              <select  name="notificacion">
              <option value="AF">notificaciones</option>
              <option value="AL">sin notificaciones</option>
                
              </select>
              <h4 style="color: deepskyblue;">Aceptacion de terminos y condiciones:</h4>
              <div>
                <input type="radio" name="terminos"   />
                <label style="color: black;" >Acepto</label>
              </div>
  
              <div>
                <input type="radio" id="dewey" name="terminos"  />
                <label style="color: black;" >No acepto</label>
              </div>
  
              
              <h4 style="color: deepskyblue;">Autorizacion para recibir informacion:</h4>
              
              <div>
                <input type="radio" name="autorizacion"   />
                <label style="color: black;" >Autorizo</label>
              </div>
  
              <div>
                <input type="radio" id="dewey" name="autorizacion"  />
                <label style="color: black;" >No autorizo</label>
              </div>
              <h4 style="color: deepskyblue;">Comentarios adicionales:</h4>
              <div>
                  <label style="color: black;" for="comentarios">Comentarios:</label>
                  <input type="text"  name="comentarios" size="55">
              </div>
              <h4 style="color: deepskyblue;">Consentimiento para el tratamiento de datos:</h4>
              <div>
                <input type="radio" name="consentimiento"   />
                <label style="color: black;" >Autorizo</label>
              </div>
  
              <div>
                <input type="radio" id="dewey" name="Consentimiento"  />
                <label style="color: black;" >No autorizo</label>
              </div>
              <h4 style="color: deepskyblue;">Fecha de consentimiento:</h4>
              <input type="date"   value="AAA/MM/DD" min="2023-11-09"  size="68" />
  
              
            </div>
  
        </div>
  </body>
