<body>
  
    <br>
    <br>
    <br>
    <br>
            <h2 style="text-align:center">Formulario ingreso de posibles trabajadores</h2>
    <div class="container">
  
        <div class="caja1">
  <h3 style="color: black;" >Informacion personal:</h3>
          <h4 style="color: blue;">Nombre(s):</h4>
          <input type="text" required minlength="4" maxlength="8" size="20" />
           <h4 style="color: blue;">Apellidos:</h4>
          <h4 style="color: blue;">Fecha de nacimiento:</h4>
          <h4 style="color: blue;">Genero:</h4>
          <h4 style="color: blue;">Numero de telefono:</h4>
          <h4 style="color: blue;">Direccion de residencia:</h4>
          <h4 style="color: blue;">Departamento de residencia:</h4>
          <h4 style="color: blue;">Ciudad de residencia:</h4>
          <h4 style="color: blue;">Correo electronico:</h4>
          <h4 style="color: blue;">Nacionalidad:</h4>
          
  
        </div>
  
    </div>
  </body>