<div id="communication-container" class="primary-form-container">
  <form
    id="communication-form"
    *ngIf="communicationForm"
    [formGroup]="communicationForm"
  >
    <h3>Metodos de comunicación</h3>

    <!-- Prefered Comms -->
    <div class="form-data-container">
      <span>
        <h4>Método de comunicación preferido</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <select id="comms_input" formControlName="comms">
        <option value="" disabled selected>Seleccione</option>
        <option value="correo">Correo</option>
        <option value="teléfono">Teléfono</option>
        <option value="otro">Otro</option>
      </select>
      <div
        *ngIf="
          communicationForm.get('comms')!.invalid &&
          communicationForm.get('comms')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Contact Frequency -->
    <div class="form-data-container">
      <span>
        <h4>Frecuencia de contacto</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <select id="contact_input" formControlName="contact">
        <option value="" disabled selected>Seleccione</option>
        <option value="nula">Nula</option>
        <option value="casi nula">Casi nula</option>
        <option value="frecuente">Frecuente</option>
        <option value="constante">Constante</option>
      </select>
      <div
        *ngIf="
          communicationForm.get('contact')!.invalid &&
          communicationForm.get('contact')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Language -->
    <div class="form-data-container">
      <span>
        <h4>Idiomas</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <select id="language_input" formControlName="language">
        <option value="" disabled selected>Seleccione</option>
        <option value="Español">Español</option>
        <option value="Inglés">Inglés</option>
        <option value="Francés">Francés</option>
        <option value="Portugues">Portugues</option>
        <option value="Alemán">Alemán</option>
        <option value="Mandarín">Mandarín</option>
        <option value="Otro">Otro</option>
      </select>
      <div
        *ngIf="
          communicationForm.get('language')!.invalid &&
          communicationForm.get('language')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Contact Availability -->
    <div class="form-data-container">
      <span>
        <h4>Horario de contacto</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <div class="textInputWrapper">
        <input id="time_input" class="textInput" type="text" formControlName="time" />
      </div>
    </div>
    <div
      *ngIf="
        communicationForm.get('time')!.invalid &&
        communicationForm.get('time')!.touched
      "
      class="error-message"
    >
      El campo es obligatorio ! (max 50 char).
    </div>

    <!-- Notification Preference -->
    <div class="form-data-container">
      <span>
        <h4>Preferencia de notificaciones</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <select id="notif_input" formControlName="notif">
        <option value="" disabled selected>Seleccione</option>
        <option value="habilitado">Habilitado</option>
        <option value="deshabilitado">Deshabilitado</option>
      </select>
      <div
        *ngIf="
          communicationForm.get('notif')!.invalid &&
          communicationForm.get('notif')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Comments -->
    <div class="form-data-container">
      <h4>Comentarios</h4>
      <div class="textInputWrapper">
        <input id="comment_input" class="textInput" type="text" formControlName="comment" />
      </div>
    </div>
    <div
      *ngIf="
        communicationForm.get('comment')!.invalid &&
        communicationForm.get('comment')!.touched
      "
      class="error-message"
    >
      (max 200 char).
    </div>

    <!-- Terms and Conditions -->
    <div class="form-data-container">
      <span>
        <h4>Términos y condiciones</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <label>
        Acepto
        <input
          id="terms_input"
          type="checkbox"
          formControlName="terms"
          [(ngModel)]="isChecked_terms"
        />
      </label>
      <div
        *ngIf="
          communicationForm.get('terms')!.invalid &&
          communicationForm.get('terms')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Data Storage -->
    <div class="form-data-container">
      <span>
        <h4>Consentimiento tratamiento de datos</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <label>
        Acepto
        <input
          id="data_input"
          type="checkbox"
          formControlName="data"
          [(ngModel)]="isChecked_data"
        />
      </label>
      <div
        *ngIf="
          communicationForm.get('data')!.invalid &&
          communicationForm.get('data')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>
    
    <!-- Receive Info -->
    <div class="form-data-container">
      <h4>Autorización para recibir información</h4>
      <label>
        Acepto
        <input
          id="info_input"
          type="checkbox"
          formControlName="info"
          [(ngModel)]="isChecked_info"
        />
      </label>
      <div
        *ngIf="
          communicationForm.get('info')!.invalid &&
          communicationForm.get('info')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>
  </form>
</div>
