label {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

input[type="checkbox"] {
  margin-left: 16px;
}

input[type="checkbox"]::before {
  content: "";
  display: flex;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked::before {
  background-color: #4285f4;
  border-color: #4285f4;
}
