<div id="health-container" class="primary-form-container">
  <form id="health-form" *ngIf="healthForm" [formGroup]="healthForm">
    <h3>Historial medico</h3>
    <!-- Blood Type Input -->
    <div class="form-data-container">
      <span>
        <h4>Grupo Sanguíneo</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <select id="blood_type-input" formControlName="blood" (ngModelChange)="onFormChange()">
        <option value="" disabled selected>Seleccione</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
      </select>
      <div
        *ngIf="
          healthForm.get('blood')!.invalid && healthForm.get('blood')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Alergies Input -->
    <div class="form-data-container">
      <h4>Alergias</h4>
      <textarea
        class="longTextInput"
        type="text"
        formControlName="alergies"
        id="alergies_input"
        (ngModelChange)="onFormChange()"
      ></textarea>
    </div>
    <div
      *ngIf="
        healthForm.get('alergies')!.invalid &&
        healthForm.get('alergies')!.touched
      "
      class="error-message"
    >
      (max 400 char).
    </div>

    <!-- Medicine Input -->
    <div class="form-data-container">
      <h4>Medicamentos en uso</h4>
      <textarea
        class="longTextInput"
        type="text"
        formControlName="medicine"
        id="medicine_input"
        (ngModelChange)="onFormChange()"
      ></textarea>
    </div>
    <div
      *ngIf="
        healthForm.get('medicine')!.invalid &&
        healthForm.get('medicine')!.touched
      "
      class="error-message"
    >
      (max 400 char).
    </div>

    <!-- Chronic Illness Input -->
    <div class="form-data-container">
      <h4>Enfermedades crónicas</h4>
      <textarea
        class="longTextInput"
        type="text"
        formControlName="illness"
        id="illness_input"
        (ngModelChange)="onFormChange()"
      ></textarea>
    </div>
    <div
      *ngIf="
        healthForm.get('illness')!.invalid && healthForm.get('illness')!.touched
      "
      class="error-message"
    >
      (max 400 char).
    </div>

    <!-- Eating Habits Input -->
    <div class="form-data-container">
      <h4>Hábitos alimenticios</h4>
      <textarea
        class="longTextInput"
        type="text"
        formControlName="food"
        id="food_input"
        (ngModelChange)="onFormChange()"
      ></textarea>
    </div>
    <div
      *ngIf="healthForm.get('food')!.invalid && healthForm.get('food')!.touched"
      class="error-message"
    >
      (max 400 char).
    </div>

    <!-- Exercise Habits Input -->
    <div class="form-data-container">
      <h4>Hábitos de ejercicio</h4>
      <textarea
        class="longTextInput"
        type="text"
        formControlName="exercise"
        id="exercise_input"
        (ngModelChange)="onFormChange()"
      ></textarea>
    </div>
    <div
      *ngIf="
        healthForm.get('exercise')!.invalid &&
        healthForm.get('exercise')!.touched
      "
      class="error-message"
    >
      (max 400 char).
    </div>

    <!-- Smoker Input -->
    <div class="form-data-container">
      <span>
        <h4>¿ Es usted fumador(a) ?</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <select id="smoker-input" formControlName="smoker" (ngModelChange)="onFormChange()">
        <option value="" disabled selected>Seleccione</option>
        <option value="Si">Si</option>
        <option value="No">No</option>
      </select>
      <div
        *ngIf="
          healthForm.get('smoker')!.invalid && healthForm.get('smoker')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Alcohol Input -->
    <div class="form-data-container">
      <span>
        <h4>Consumo de alcohol</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <select id="alcohol-input" formControlName="alcohol" (ngModelChange)="onFormChange()">
        <option value="" disabled selected>Seleccione</option>
        <option value="Nunca">Nunca</option>
        <option value="En celebraciones especiales">
          En celebraciones especiales
        </option>
        <option value="1 vez al mes">1 vez al mes</option>
        <option value="2 veces al mes">2 veces al mes</option>
        <option value="1 por semana">1 por semana</option>
        <option value="3 por semana">3 por semana</option>
        <option value="Todos los dias">Todos los dias</option>
      </select>
      <div
        *ngIf="
          healthForm.get('alcohol')!.invalid &&
          healthForm.get('alcohol')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! Seleccione una opción...
      </div>
    </div>

    <!-- Surgery Input -->
    <div class="form-data-container">
      <h4>Historial de cirugías</h4>
      <textarea
        class="longTextInput"
        type="text"
        formControlName="surgery"
        id="surgery_input"
        (ngModelChange)="onFormChange()"
      ></textarea>
    </div>
    <div
      *ngIf="
        healthForm.get('surgery')!.invalid && healthForm.get('surgery')!.touched
      "
      class="error-message"
    >
      (max 400 char).
    </div>

    <!-- Emergency Contact Input -->
    <div class="form-data-container">
      <span>
        <h4>Contactos de emergencia</h4>
        <h4 class="asterisk">*</h4>
      </span>
      <input
        class="textInput"
        type="text"
        formControlName="contact"
        id="contact_input"
        (ngModelChange)="onFormChange()"
      />
      <div
        *ngIf="
          healthForm.get('contact')!.invalid &&
          healthForm.get('contact')!.touched
        "
        class="error-message"
      >
        El campo es obligatorio ! (max 150 char).
      </div>
    </div>
  </form>
</div>
